src/test/resources/conf/semantex.wsdl.xml

<definitions xmlns:swa="http://www.janyainc.com/SWA/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	name="SWA" targetNamespace="http://www.janyainc.com/SWA/">
	<types>
		<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.janyainc.com/SWA/">
			<!-- operation request element -->
			<element name="docRequest">
				<complexType>
					<sequence>
						<element name="docId" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="docMIMEType" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="configName" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="outputFormat" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="docContent" type="xsd:base64Binary"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<element name="inlineFilter" type="xsd:base64Binary"
							minOccurs="0" maxOccurs="1" nillable="true" />
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="docResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorMessage" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<!-- operation request element -->
			<element name="doc2XMLRequest">
				<complexType>
					<sequence>
						<element name="docId" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="docMIMEType" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="configName" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="outputFormat" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="docContent" type="xsd:base64Binary"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<element name="inlineFilter" type="xsd:base64Binary"
							minOccurs="0" maxOccurs="1" nillable="true" />
					</sequence>
				</complexType>
			</element>
			<!-- operation response element -->
			<element name="doc2XMLResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorMessage" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="docResult" type="xsd:base64Binary"
							minOccurs="1" maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="shutdownRequest"></element>
			<element name="shutdownResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="loadConfigRequest">
				<complexType>
					<sequence>
						<element name="configName" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="loadConfigResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="reloadConfigRequest">
				<complexType>
					<sequence>
						<element name="configName" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="reloadConfigResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="reloadConfigsRequest"></element>
			<element name="reloadConfigsResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="isLoadedConfigRequest">
				<complexType>
					<sequence>
						<element name="configName" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="isLoadedConfigResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="loadedConfigsRequest"></element>
			<element name="loadedConfigsResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="configs" type="xsd:string" minOccurs="0"
							maxOccurs="unbounded" nillable="false" />
					</sequence>
				</complexType>
			</element>
			<element name="availableConfigsRequest"></element>
			<element name="availableConfigsResponse">
				<complexType>
					<sequence>
						<element name="success" type="xsd:boolean" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="errorString" type="xsd:string" minOccurs="1"
							maxOccurs="1" nillable="false" />
						<element name="configs" type="xsd:string" minOccurs="0"
							maxOccurs="unbounded" nillable="false" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="processInput">
		<part name="parameters" element="swa:docRequest" />
	</message>
	<message name="processOutput">
		<part name="parameters" element="swa:docResponse" />
	</message>
	<message name="process2XMLInput">
		<part name="parameters" element="swa:doc2XMLRequest" />
	</message>
	<message name="process2XMLOutput">
		<part name="parameters" element="swa:doc2XMLResponse" />
	</message>
	<message name="shutdownInput">
		<part name="parameters" element="swa:shutdownRequest" />
	</message>
	<message name="shutdownOutput">
		<part name="parameters" element="swa:shutdownResponse" />
	</message>
	<message name="loadConfigInput">
		<part name="parameters" element="swa:loadConfigRequest" />
	</message>
	<message name="loadConfigOutput">
		<part name="parameters" element="swa:loadConfigResponse" />
	</message>
	<message name="reloadConfigInput">
		<part name="parameters" element="swa:reloadConfigRequest" />
	</message>
	<message name="reloadConfigOutput">
		<part name="parameters" element="swa:reloadConfigResponse" />
	</message>
	<message name="reloadConfigsInput">
		<part name="parameters" element="swa:reloadConfigsRequest" />
	</message>
	<message name="reloadConfigsOutput">
		<part name="parameters" element="swa:reloadConfigsResponse" />
	</message>
	<message name="isLoadedConfigInput">
		<part name="parameters" element="swa:isLoadedConfigRequest" />
	</message>
	<message name="isLoadedConfigOutput">
		<part name="parameters" element="swa:isLoadedConfigResponse" />
	</message>
	<message name="loadedConfigsInput">
		<part name="parameters" element="swa:loadedConfigsRequest" />
	</message>
	<message name="loadedConfigsOutput">
		<part name="parameters" element="swa:loadedConfigsResponse" />
	</message>
	<message name="availableConfigsInput">
		<part name="parameters" element="swa:availableConfigsRequest" />
	</message>
	<message name="availableConfigsOutput">
		<part name="parameters" element="swa:availableConfigsResponse" />
	</message>
	<portType name="SWAPortType">
		<operation name="process">
			<documentation>Process a document without getting result back
			</documentation>
			<input message="swa:processInput" />
			<output message="swa:processOutput" />
		</operation>
		<operation name="process2XML">
			<documentation>Process a document and get the XML result
			</documentation>
			<input message="swa:process2XMLInput" />
			<output message="swa:process2XMLOutput" />
		</operation>
		<operation name="shutdown">
			<documentation>Shutdown Semantex service processor</documentation>
			<input message="swa:shutdownInput" />
			<output message="swa:shutdownOutput" />
		</operation>
		<operation name="loadConfig">
			<documentation>Load resources for a configuration</documentation>
			<input message="swa:loadConfigInput" />
			<output message="swa:loadConfigOutput" />
		</operation>
		<operation name="reloadConfig">
			<documentation>Reload resources for a configuration</documentation>
			<input message="swa:reloadConfigInput" />
			<output message="swa:reloadConfigOutput" />
		</operation>
		<operation name="reloadConfigs">
			<documentation>Reload resources for all configurations
			</documentation>
			<input message="swa:reloadConfigsInput" />
			<output message="swa:reloadConfigsOutput" />
		</operation>
		<operation name="isLoadedConfig">
			<documentation>Check if a configuration is loaded</documentation>
			<input message="swa:isLoadedConfigInput" />
			<output message="swa:isLoadedConfigOutput" />
		</operation>
		<operation name="loadedConfigs">
			<documentation>Enumerate loaded configurations</documentation>
			<input message="swa:loadedConfigsInput" />
			<output message="swa:loadedConfigsOutput" />
		</operation>
		<operation name="availableConfigs">
			<documentation>Enumerate available configurations</documentation>
			<input message="swa:availableConfigsInput" />
			<output message="swa:availableConfigsOutput" />
		</operation>
	</portType>
	<binding name="SWASoapBinding" type="swa:SWAPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="process">
			<soap:operation soapAction="http://www.janyainc.com/SWA/process" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="process2XML">
			<soap:operation soapAction="http://www.janyainc.com/SWA/process2XML" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="shutdown">
			<soap:operation soapAction="http://www.janyainc.com/SWA/shutdown" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="loadConfig">
			<soap:operation soapAction="http://www.janyainc.com/SWA/loadConfig" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="reloadConfig">
			<soap:operation soapAction="http://www.janyainc.com/SWA/reloadConfig" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="reloadConfigs">
			<soap:operation soapAction="http://www.janyainc.com/SWA/reloadConfigs" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="isLoadedConfig">
			<soap:operation soapAction="http://www.janyainc.com/SWA/isLoadedConfig" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="loadedConfigs">
			<soap:operation soapAction="http://www.janyainc.com/SWA/loadedConfigs" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="availableConfigs">
			<soap:operation soapAction="http://www.janyainc.com/SWA/availableConfigs" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SWA">
		<documentation>Semantex Web API service definition</documentation>
		<port name="SWASOAP" binding="swa:SWASoapBinding">
			<soap:address location="http://96.127.107.137:8084/SWA/" />
		</port>
	</service>
</definitions>